:root {
    --radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d4d0d0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d10000;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: 0 2px 4px #1d1d1d7a;
}

#products {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: 0 -2px 4px #1d1d1d7a, 0 2px 4px #1d1d1d7a;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    color: #4caf50;
    text-align: center;
}

.product {
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: var(--radius);
    box-shadow: 2px 2px 4px #1d1d1d7a;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius);
    margin-top: 20px;
}

.email-field {
    margin-bottom: 20px;
}

.product ul {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    border-radius: var(--radius);
    border: none;
    padding: 8px 20px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    border-radius: var(--radius) var(--radius) 0 0;
    padding: 10px;
    box-shadow: 0 -2px 4px #1d1d1d7a;
    background-color: #000;
    text-align: center;
    color: #fff;
}